// Global Variables

$c1: (#010b19);
$c2: (#021631);
$c3: (#03214a);
$c4: (#042c62);
$c5: (#05377b);


html {
	scroll-behavior: auto !important;
	transition-delay: 1000ms;
}

body {
	background-image: linear-gradient($c1, $c1, $c1, $c5);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white; 
	font-family: 'Space Grotesk', sans-serif;
}

h1 {
	font-size: 500%;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 400%;
	margin-bottom: 0.25em;
}

td, th {
	color: white;
}



a {
	&:link {
		color: white;
	}
	&:hover {
		color: $c5;
	}
	&:active {
		color: $c3;
	}
}

#main-content {
	width: 88%;
	margin: 0 auto;
	padding: 2em;
	background: rgba(0, 0, 0, 0.3);
	z-index: -1;
	img {
		width: 100%;
		float: right;
		border: 1px solid white;
	}
}

#hero-section {
	margin-bottom: 7em;
	p, a {
		font-size: 150%;
	}
}

#portfolio, #pos {
	padding-top: 4em;
}

.card {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 1px solid white;
	border-radius: 1em;
	padding: 1em;
	height: 100%;
	.card-body {
		display: none;
	}
	.card-title {
		font-weight: bold;
	}
	a {
		margin-top: auto;
	}
}

.modal-content {
	background-color: $c4 !important;
	width: auto !important;
}

.modal-dialog {
	max-width: 1000px !important;
}


button {
	margin-top: auto;
}


.space-bottom {
	margin-bottom: 2em;
}

.navbar {
	background-color: black !important;
}

.current{
	color: white !important;
}

.navbar-nav {
	width: 100%;
	justify-content: space-evenly;
}

.navbar-brand {
	border-right: 1px solid white;
	padding-right: 2em;
}


.modal {
	transform: scale(0.5) translateY(30px);
	transform-origin: 0% 0%;
	opacity: 0;
	transition: all 0.35s;
	&.show {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

.w50 {
	width: 50%;
}

td, th {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.row-space-bottom > td {
	padding-bottom: 2.5em !important;
}

@media (max-width: 960px) {

	#articulate {
		flex-direction: column;
		justify-content: center;
		// min-width: 100%;
		.col {
			width: 100%;
			max-width: 600px;
		}
	}
}
