// Global Variables

$c1: (#010b19);
$c2: (#021631);
$c3: (#03214a);
$c4: (#042c62);
$c5: (#05377b);


html {
	scroll-behavior: auto !important;
	transition-delay: 1000ms;
}

body {
	background-image: linear-gradient($c1, $c1, $c1, $c5);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white; 
	font-family: 'Space Grotesk', sans-serif;
}

h1 {
	font-size: 500%;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 400%;
	margin-bottom: -0.38em;
}

td, th {
	color: white;
}



a {
	&:link {
		color: white;
	}
	&:hover {
		color: white;
	}
	&:visited {
		color: white;
	}
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#main-content {
	width: 88%;
	margin: 0 auto;
	padding: 2em;
	background: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

#hero-section {
	// margin-bottom: 7em;
	h2 {
		font-size: 300%;
		margin-bottom: 3rem;
	}
	p {
		font-size: 150%;
	}
	a.scroll-target {
		&:link {
			text-decoration: none;
		}
		&:hover {
			color: black;
			background-color: white;
		}
	}
	#hero-img {
		width: 35%;
		float: right;
		margin-left: 2rem;
		border: 1px solid white;
	}
}


#portfolio, #about-me {
	padding-top: 4em;
	margin-bottom: 7em;
}

#pos {
	padding-top: 13em;
	margin-bottom: 13em;
}

#contact {
	width: 100%;
	h2 {
		font-size: 300%;
	}
}

.p-container {
	max-width: 1000px;
	margin: 0 auto;
}

.table {
	color: white !important;
	overflow-x: auto;
}

.card-text {
	text-align: center;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

.card {
	background-color: rgba(0, 0, 0, 0) !important;
	border: 1px solid white;
	border-radius: 1em;
	padding: 1em;
	height: 100%;
	.card-body {
		display: none;
	}
	.card-text {
		text-align: center;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		border-radius: 0.25rem;
	}
	.card-title {
		font-weight: bold;
	}
	a {
		margin-top: auto;
	}
}

.modal-content {
	background-color: $c4 !important;
	width: auto !important;
}

.modal-dialog {
	max-width: 1000px !important;
}

.modal-body.anno {

}


button, #voiceover button, #voiceover a {
	margin-top: 0.75em;
}


#portfolio > .row:not(:first-child) {
	margin-bottom: 3em;
}

.navbar {
	background-color: black !important;
}

.current{
	color: white !important;
}

.navbar-nav {
	width: 100%;
	justify-content: space-evenly;
}

.navbar-brand {
	border-right: 1px solid white;
	padding-right: 2em;
}

.icon-center {
	text-align: center;
	.btn {
		background-color: rgba(0, 0, 0, 0);
		padding: 0.5em;
		margin: 3em auto 0;
		max-width: 60%;
	}
}


.modal {
	transform: scale(0.5) translateY(30px);
	transform-origin: 0% 0%;
	opacity: 0;
	transition: all 0.35s;
	&.show {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}

.w50 {
	width: 50%;
}

td, th {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

td, .indent {
	padding-left: 1.5em !important;
}

.row-space-bottom > td {
	padding-bottom: 2.5em !important;
}

#footer {
	background-color: black;
	padding: 2em;
	width: 100%;
	height: 100%;
	text-align: center;
	h2 {
		margin: 0;
	}
	.row {
		margin-bottom: 0;
	}
}

#special-details {
	// width: 40%;
	margin: 0 0 1em 0;
}

@media (max-width: 960px) {
	#main-content, .container{
			width: 100%;
			padding: 0.5rem;
	}
	#hero-section {
		h2 {
			font-size: 170%;
			text-align: left;
		}
		#hero-img {
			width: 30%;
		}
	}
	h1 {
		font-size: 350%;
	}
	h2 {
		font-size: 300%;
		text-align: center;
	}
	table {
		font-size: small;
	}
	#footer {
		.col-2 {
			width: 50% ;
		}
	}

	.mobile-view {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		.col {
			max-width: 90%;
			margin: 0 auto;
			--bs-gutter-y: 1rem;
			padding-top: calc(var(--bs-gutter-y) * .5);
			padding-bottom: calc(var(--bs-gutter-y) * .5);
		}
		#special-details {
			margin: 0 auto;
		}
		.modal-content {
			width: 100% !important;
			embed {
				width: 100%;
			}
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
		}
	}
}
