doctype html
html(lang='en')
	head
		title Richard (RJ) Valencia - Portfolio
		meta(charset="UTF-8")
		meta(name="description" content="The portfolio of RJ Valencia! Come adore his instructional design prowess!")
		meta(name="keywords" content="RJ, Richard, Valencia, Richard Valencia, RJ Valencia, instructional design, instructional designer, voiceover, RJ voiceover, portfolio, Richard portfolio, Valencia portfolio, Richard Valencia portfolio, RJ Valencia portfolio")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		meta(name="author" content="Richard (RJ) Valencia")
		<meta name="google-site-verification" content="6h1L7J8T34bJO7fIq3S23QrtuKEejSrrX7mOp3YhLaE" />
		<link rel="icon" href="..\img\rj_logo.svg" sizes="any" type="image/svg+xml">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		style
			include ../stylesheets/main.css
			include ../stylesheets/stars.css
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/09da3df8e6.js" crossorigin="anonymous"></script>
	body
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand scroll-target" href="#"><img id="favicon" src="..\img\rj_logo.svg" alt="RJ Valencia logo; an orange with RJ written on it"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div id="test" class="navbar-nav">
						<a class="nav-link scroll-target" href="#about-me">About Me</a>
						<a class="nav-link scroll-target" href="#pos">Program of Study</a>
						<a class="nav-link scroll-target" href="#portfolio">Portfolio</a>
						<a class="nav-link scroll-target" href="#resume">Resume</a>
						<a class="nav-link scroll-target" href="#contact">Contact</a>
					</div>
				</div>
			</div>
		</nav>
		div#main-content
			div#overlay
				div.container
					div#hero-section.row
						div.col
							h1 RJ Valencia
								a(href='https://www.linkedin.com/in/richard-rj-valencia/' target='_blank')
									<img id="hero-img" src="img\hero-img.JPG">
							hr
							h2 
								| The name’s Richard Joseph Valencia, but please call me 
								a(class="scroll-target" href="#about-me") <u>RJ!</u> 
							div.indent
								h2
									| 
									a(class="scroll-target" href="#portfolio") <em>instructional designer,</em>
									| 
									br
									a(class="scroll-target" href="#resume") <em>front-end web developer,</em>
									|
									br
									a(class="scroll-target" href="#voiceover") <em>and aspiring voiceover artist,</em> 
									| 
							h2 At your service!
					div.row.icon-center
						button(class="btn btn-primary").col
							a(class="nav-link scroll-target" href="#about-me")
								<i class="fas fa-angle-double-down fa-3x"></i>
					br
					div#about-me
						div.col-12
							h2 About Me
							hr
						div.p-container
							p Welcome to my portfolio website! I am currently a masters student for Instructional Design at Florida State University just about to graduate! My graduation goals are to start my career in the corporate sector of instructional design, and hone in my craft by becoming experienced at all aspects of the instructional design process. So far, my instructional design experience has being focused on design and development, including learning how to use new technologies and incorporating my front-end web development skills. When I am not talking about instructional design,  I like to play music (drums and a little piano), make pixel art, and doing voiceovers.
							p On this website, you will find the classes I took for my master's program, some artifacts that demonstrate my competencies as an instructional designer, my resume, and methods to contact me. Most of the listed artifacts demonstrate my designing abilities, writing and communication abilities, and my interpersonal skills. I plan to add to my portfolio with future experience and projects!
							p I’m hard at work preparing to join the working world in instructional design, and I am eager to make genuine great works with others, learn a thing or two along the way, and make the places I go better than I found them.
							p I hope you enjoy this portfolio, and look forward to hear from you!
							
					div#pos.row.space-bottom
						div.col-12
							h2 Program of Study
							hr
							h3 Florida State University
							div.table-responsive-sm
								<table class="table table-sm">
									<thead>
										<tr>
											<th id="first" scope="col">Semester</th>
											<th scope="col">Course Prefix</th>
											<th scope="col">Course Name</th>
											<th scope="col">Professor</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th class="indent" scope="row">Fall 2020</th>
											<td>EME 5601</td>
											<td>Introduction to Instructional Systems and Learning Technologies</td>
											<td>Dr. Sue J. Ebbers</td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td>EDP 5216</td>
											<td>Theories of Learning and Cognition in Instruction</td>
											<td>Dr. Hae Young Kim</td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td>EDF 5442</td>
											<td>Inquiry and Measurement</td>
											<td>Dr. Allan Jeong</td>
										</tr>
										<tr class="row-space-bottom">
											<th scope="row"></th>
											<td>EME 6631</td>
											<td>Managing Instructional Development</td>
											<td>Dr. C. Darren Brooks</td>
										</tr>
										<tr>
											<th class="indent" scope="row">Spring 2021</th>
											<td>EME 5602</td>
											<td>Technology and Design</td>
											<td>Dr. Zhichun Liuz</td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td>EME 5603</td>
											<td>Introduction to Systematic Instructional Design</td>
											<td>Dr. Diana Brandon</td>
										</tr>
										<tr class="row-space-bottom">
											<th scope="row"></th>
											<td>EME 5608</td>
											<td>Trends and Issues in Instructional Design</td>
											<td>Dr. Diana Brandon</td>
										</tr>
										<tr>
											<th class="indent" scope="row">Summer 2021</th>
											<td>EDF 5942</td>
											<td>Field Lab Internship w/ KnowBe4</td>
											<td>Dr. James D. Klein</td>
										</tr>
										<tr class="row-space-bottom">
											<th scope="row"></th>
											<td>EME 6415</td>
											<td>Development of Computer Courseware</td>
											<td>Dr. Allan Jeong</td>
										</tr>
										<tr>
											<th class="indent" scope="row">Fall 2021</th>
											<td>EME 5077</td>
											<td>Mobile Learning</td>
											<td>Dr. Yasin Yalcin</td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td>EME 6357</td>
											<td>Evaluation of Instruction and Training in HPT</td>
											<td>Dr. Bret Staudt Wille</td>
										</tr>
										<tr>
											<th scope="row"></th>
											<td>EME 6403</td>
											<td>Design for Online Collaboration Learning</td>
											<td>Dr. Allan Jeong</td>
										</tr>
									</tbody>
								</table>
					div#portfolio
						div.row
							div.col-12
								h2 Portfolio
								hr
						div#articulate.row.mobile-view
							div.subtitle.col-12
								h3 Articulate Storyline 360
							div.col
								div.card
									div.card-body 
									h5.card-title Basics to Music
									button.card-text.mt-auto(data-bs-toggle="modal" data-bs-target="#modal_10") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									button(class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_1") Click Here to View
								div#modal_1.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Basics of Music
												button(type="button" class="mt-auto close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<iframe class="responsive-iframe" id="pause-target-1" src="..\portfolio\Articulate 360\Valencia_BasicsToMusic_ver2 - Storyline output\Valencia_BasicsToMusic_ver2 - Storyline output\story.html" width="900" height="658"></iframe>
											div.modal-footer
												button(type="button" class="mt-auto btn btn-secondary" data-bs-dismiss="modal") Close
								div#modal_10.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Basics of Music - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This class assignment had us follow the whole instructional design process using the ADDIE model. I used Articulate 360 to create the lesson, implementing the work prior to determine the design.
												h6 <em>Conditions</em> 
													p.indent This was the culmination of a semester's work. Prior to this, we conducted front-end analysis of the topic, audience and context, deconstructed the topic's subordinate skills and entry behavior, and created assessment and evaluation methods.
												h6 <em>Scope</em> 
													p.indent This was the first time I used Storyline 360, which I utilized the variable, triggers, and quiz pool functionality. I also created vector assets using Adobe Illustrator for the music symbols, as well as provided the voiceover.
												h6 <em>Role</em> 
													p.indent Solo work; completed analysis, design and development.
												h6 <em>Displayed Competencies</em> 
													ul
														li Analysis Skills
														ul
															li Analyze learning and performance problems to recommend appropriate solutions. 
															li Determine subordinate and prerequisite knowledge and skills. 
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Identify the scope and sequence for instructional solutions.
																li Use visual design principles appropriately.
																li Align outcomes, strategies, and assessments.
																li Generate appropriate instructional strategies and activities.
														li Technology and Media Skills
															ul
																li Develop instructional materials using a variety of media (interactive activities, audio-visual).
																li Develop and use web-based instruction/e-learning tools.

											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title Music Clefs
									button.card-text.mt-auto(data-bs-toggle="modal" data-bs-target="#modal_11") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									button(class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_2") Click Here to View
								div#modal_2.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Music Clefs
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<iframe id="pause-target-2" src="..\portfolio\Articulate 360\Valencia_MusicClefs - Storyline output\Valencia_MusicClefs - Storyline output\story.html" width="1000" height="658"></iframe>
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
								div#modal_11.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Music Clefs - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This class assignment had us create a simple lesson using a technology of our choosing. I selected Articulate Storyline 360 to further improve my skills. 
												h6 <em>Conditions</em> 
													p.indent For this, I decided to focus on making the development process simpler, as well as focus on better visual design and usability. I also provided the voiceover for this project as well.
												h6 <em>Scope</em> 
													p.indent Final product; I reedited some of the triggers to make the lesson more user-friendly.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed. Provided voiceover.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
														li Technology and Media Skills
															ul
																li Develop instructional materials using a variety of media (interactive activities, audio-visual).
																li Develop and use web-based instruction/e-learning tools.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
						div.row.mobile-view
							div.subtitle.col-12
								h3 Instructional Documents
							div.col
								div.card
									div.card-body 
									h5.card-title eBook - The school drummer's manual
									button.card-text.mt-auto(data-bs-toggle="modal" data-bs-target="#modal_12") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									button(class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_3") Click Here to View
								div#modal_3.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title eBook - The school drummer's mannual
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Instructional Documents\Valencia_eBook.pdf#toolbar=0" type="application/pdf" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
								div#modal_12.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title eBook - The school drummer's manual - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent For a class assignment, we had to design an ebook using existing content, in which we provide more interactivity such as hyperlinks to specific resources or knowledge checks within the book. I decided to use an old percussion book, and focused on embedding resources and video demonstrations to make the content more applicable and approachable. 
												h6 <em>Conditions</em> 
													p.indent I used Adobe InDesign (first time using) to create the ebook.
												h6 <em>Scope</em> 
													p.indent Final product; school assignment.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
														li Technology and Media Skills
															ul
																li Develop instructional materials using a variety of media.
																li Use technology tools in the design process.
																li Develop and use web-based instruction/e-learning tools.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title How to Read HTML
									button.card-text.mt-auto(data-bs-toggle="modal" data-bs-target="#modal_13") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									button(class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_4") Click Here to View
								div#modal_4.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title How to Read HTML
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Instructional Documents\Valencia_How to Read HTML.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
								div#modal_13.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title How to Read HTML - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This was for assignment to make an infographic that served as a effective job aid. The design choice I am most proud of is the "Grammar" and "Basic Structure for a Webpage", for I made each element a specific color in so the "Grammar" could be used as a tool to decipher the example in the "Basic Structure for a Webpage" section.
												h6 <em>Conditions</em> 
													p.indent For this, I used Canva to create the infographic, and utilized my Information Technology skills to provide the context. The focus is a basic introduction to HTML, providing what it is, how it's used, an example, and vocabulary for foundational understanding.
												h6 <em>Scope</em> 
													p.indent Final draft.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
														li Technology and Media Skills
															ul
																li Use technology tools in the design process.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title Tenor Drums Easy Guide
									button.card-text.mt-auto(data-bs-toggle="modal" data-bs-target="#modal_14") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									button(class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_5") Click Here to View
								div#modal_5.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Tenor Drums Easy Guide
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Instructional Documents\ValenciaRichard_JobAid.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
								div#modal_14.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Tenor Drums Easy Guide - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This class assignment had us make a simple job aid using a Word document. The topic of my job aid is how to play the tenor drums, focusing on what tenor drums are, how to play, and emphasizing specific techniques needed to play the instrument. 
												h6 <em>Conditions</em> 
													p.indent The drums were created using Word's shapes function. I decided to utilize Adobe Illustrator to create vector assets for the document; I created the drummers' hands in that software.
												h6 <em>Scope</em> 
													p.indent Final product.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
														li Technology and Media Skills
															ul
																li Use technology tools in the design process.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
						div.row.mobile-view
							div.subtitle.col-12
								h3 Tribecca - Using Canva
							div.col-12
								button#special-details.card-text(data-bs-toggle="modal" data-bs-target="#modal_15") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
								div#modal_15.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Tribecca - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent When I interned for Tribecca Language in early 2021, I was tasked with creating worksheets from a given curriculum. These worksheets were designed for young children (ages 3-7), and developed using Canva. These worksheets focus on giving information, as well as providing activities to apply that said information. I created at least 100 worksheets using the given template. 
												h6 <em>Conditions</em> 
													p.indent The worksheet were developed halfway in the internship; it took about a month and a half to complete all the worksheets. I worked with the director to understand for the format and content of the worksheets.
												h6 <em>Scope</em> 
													p.indent The format of the worksheets were based on past templates of Tribecca Language worksheets, but were revamped by me. These were the final draft to be used.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
																li Identify the scope and sequence for instructional solutions.
																li Provide a rationale for design decisions.
														li Technology and Media Skills
															ul
																li Select and use appropriate technology and media for specific outcomes. 
																li Use technology tools in the design process.
														li Personal & Interpersonal Skills
															ul 
																li Collaborate effectively with others.
																li Received constructive feedback.
																li Build positive relationships with manager.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title Clothes - Japanese
									button(class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#modal_6") Click Here to View
								div#modal_6.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Clothes - Japanese
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Tribecca - Using Canva\Clothes - Japanese.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
								
							div.col
								div.card
									div.card-body 
									h5.card-title Clothes - Spanish
									button(class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#modal_7") Click Here to View
								div#modal_7.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Clothes - Spanish
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Tribecca - Using Canva\Clothes - Spanish.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title Winter Clothes - Japanese
									button(class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#modal_8") Click Here to View
								div#modal_8.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Winter Clothes - Japanese
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Tribecca - Using Canva\Winter Clothes - Japanese.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title Winter Clothes - Spanish
									button(class="btn btn-primary mt-auto" data-bs-toggle="modal" data-bs-target="#modal_9") Click Here to View
								div#modal_9.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Winter Clothes - Spanish
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body
												<embed src="..\portfolio\Tribecca - Using Canva\Winter Clothes - Spanish.pdf#toolbar=0" width="1000" height="658">
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
						div#voiceover.row.mobile-view
							div.subtitle.col-12
								h3 Videos (Adobe Premiere and Voiceover)
							div.col
								div.card
									div.card-body 
									h5.card-title Case 15 - Gap Inc.
									button.card-text(data-bs-toggle="modal" data-bs-target="#modal_19") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									a(href="https://youtu.be/QPAzw43cnYM" target='_blank' class="btn btn-primary") Click Here to View
								div#modal_19.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title Case 15 - Gap Inc. - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This class assignment was a group project, in which we need to presented a evaluation case study in an organized manner that makes the information digestible. As a group, we decided to make a video that utilized voiceover and slides. 
												h6 <em>Conditions</em> 
													p.indent This assignment was due early in the semester, so the biggest hurdle was working with a new team. We quickly worked together to manage meetings, and coordinate how we would approach the assignment.
												h6 <em>Scope</em> 
													p.indent Final product. I used an Audio-Technica AT4040 microphone to record the voiceovers, and Adobe Premiere to combine the visual and audio files.
												h6 <em>Role</em> 
													p.indent I was responsible for writing the script and providing the voiceover. My teammates were responsible for reviewing the complete draft of the script and the visuals (utilizing Canva).
												h6 <em>Displayed Competencies</em> 
													ul
														li Communication Skills
															ul
																li Facilitate meetings to achieve agenda and goals.
																li Use appropriate tools to communicate with learners, clients, and other stakeholders.
																li Practice active listening.
														li Technology and Media Skills
															ul
																li Select and use appropriate technology and media for specific outcomes. 
																li Use technology tools in the design process.
														li Personal & Interpersonal Skills
															ul 
																li Collaborate effectively with others.
																li Give and receive constructive feedback
																li Build positive relationships with team members, clients, and other stakeholders
																li Recognize and accommodate individual and cultural differences.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
							div.col
								div.card
									div.card-body 
									h5.card-title How to Make Flan
									button.card-text(data-bs-toggle="modal" data-bs-target="#modal_20") More Details...  <i class="fas fa-chevron-right fa-xs"></i>
									a(href="https://youtu.be/T4Du_aPvoVQ" target='_blank' class="btn btn-primary") Click Here to View
							div#modal_20.modal(tabindex="-1" role="dialog")
									div.modal-dialog.modal-dialog-centered(role='document')
										div.modal-content
											div.modal-header
												h5.modal-title How to Make Flan - Details
												button(type="button" class="close" data-bs-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") &times;
											div.modal-body.anno
												h6 <em>Context</em>
													p.indent This class assignment was to make a video using any software we wanted, and provide a voiceover. I decided make a live-action video of how to make dessert.
												h6 <em>Conditions</em> 
													p.indent I created a script for the voiceover, and created an outline for how the video will be shot. I used a Yeti Pro microphone for the voiceover. I used Adobe Premiere for the first time to combine the audio and visual files.
												h6 <em>Scope</em> 
													p.indent Final product; it is published on YouTube.
												h6 <em>Role</em> 
													p.indent Solo work; designed and developed.
												h6 <em>Displayed Competencies</em> 
													ul
														li Design Skills
															ul
																li Apply learning theory and systems thinking to design practice.
																li Use visual design principles appropriately.
														li Technology and Media Skills
															ul
																li Use technology tools in the design process.
											div.modal-footer
												button(type="button" class="btn btn-secondary" data-bs-dismiss="modal") Close
					div#resume
						div.row
							div.col-12
								h2 Resume
								hr
						<embed src="..\portfolio\Valencia_2021.pdf#toolbar=0" width="100%" height="600">
						div.row.mobile-view
							a(class="btn btn-primary mt-auto" href="../portfolio/Valencia_2021.pdf" download="Valencia_2021.pdf") Click Here to Download <i class="fas fa-file-download"></i>
						
		div#footer
			div#contact.container
				div.row
					div.subtitle.col-12
						h2 Contact
						hr
				div.row.icon-center.justify-content-center
					div.col-2
						a(href='https://www.linkedin.com/in/richard-rj-valencia/' target='_blank')
								<i class="fab fa-linkedin fa-4x"></i>
					div.col-2
						a(href='mailto:valenciar524@gmail.com')
								<i class="far fa-envelope fa-4x"></i>

				div.stars
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
					div.star
		script
			include ../js/audio.js
			include ../js/scroll.js