.d-block {
  height: 100vh;
}

.img-fluid {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-fluid img.img-fluid {
  max-width: 80%;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(3%, rgb(0, 0, 0)));
  -webkit-mask-image: linear-gradient(bottom, transparent 0, rgb(0, 0, 0) 3%);
          mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(3%, rgb(0, 0, 0)));
          mask-image: linear-gradient(bottom, transparent 0, rgb(0, 0, 0) 3%);
}

#hero-section > .animate__animated {
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.resume-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  cursor: pointer;
  margin: 0 10px;
}

.content {
  display: none;
}

.active {
  position: relative;
}

html {
  scroll-behavior: auto !important;
  -webkit-transition-delay: 1000ms;
          transition-delay: 1000ms;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#010b19), color-stop(#010b19), color-stop(#010b19), to(#05377b));
  background-image: linear-gradient(#010b19, #010b19, #010b19, #05377b);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  position: relative;
}

h1 {
  font-size: 650%;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 400%;
  margin-bottom: -0.38em;
}

td, th {
  color: white;
}

li:last-child {
  margin-bottom: 0.5em;
}

a:link {
  color: white;
}
a:hover {
  color: white;
}
a:visited {
  color: white;
}
a.active {
  text-decoration: underline;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#main-content {
  width: 88%;
  margin: 0 auto;
  padding: 2em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(15%, rgba(0, 0, 0, 0.3)));
  background: linear-gradient(top, transparent 0, rgba(0, 0, 0, 0.3) 15%);
  z-index: -1;
}

nav {
  border-bottom: 2px solid #9c9494;
}
nav a:focus {
  color: white !important;
}

#hero-section h1 {
  margin-bottom: 0 !important;
}
#hero-section h2 {
  font-size: 250%;
  margin-bottom: 3rem;
}
#hero-section p {
  font-size: 150%;
}
#hero-section a.scroll-target:link {
  text-decoration: none;
}
#hero-section a.scroll-target:hover :not(i, .icon-center) {
  color: black;
  background-color: white;
}
#hero-section #hero-img {
  width: 35%;
  float: right;
  margin-left: 2rem;
  border: 1px solid white;
}

#portfolio, #about-me, #resume {
  padding-top: 10em;
  margin-bottom: 7em;
}

#pos {
  padding-top: 13em;
  margin-bottom: 13em;
}

#contact {
  width: 100%;
}
#contact h2 {
  font-size: 300%;
}

.p-container {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.25em;
}

.table {
  color: white !important;
  overflow-x: auto;
}

.card-text {
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid white;
  border-radius: 1em;
  height: 100%;
}
.card .card-img-top {
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em;
}
.card .card-text {
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}
.card .card-title {
  font-weight: bold;
}
.card a {
  margin-top: auto;
}
.card a button {
  width: -webkit-fill-available;
}

.modal-content {
  background-color: #042c62 !important;
  width: auto !important;
  margin: 0 auto;
}

.modal-dialog {
  max-width: 1000px !important;
}

.modal-body.anno {
  padding: 2em;
  height: auto;
}

button, #voiceover button, #voiceover a {
  margin-top: 0.75em;
}

#portfolio > .row:not(:first-child) {
  margin-bottom: 3em;
}

.navbar {
  background-color: black !important;
  position: fixed;
  top: 0;
  z-index: 1020;
  width: 100%;
}

.current {
  color: white !important;
}

.navbar-nav {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: larger;
  margin: auto;
}

.navbar-brand {
  border-right: 1px solid white;
  padding-right: var(--bs-gutter-x, 0.75rem);
}

#favicon {
  width: 70px;
  height: 70px;
}

.icon-center {
  text-align: center;
}
.icon-center .btn {
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5em;
  margin: 2em auto 0;
  max-width: 60%;
}

.modal {
  -webkit-transform: scale(0.5) translateY(30px);
          transform: scale(0.5) translateY(30px);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.modal.show {
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
  opacity: 1;
}

.w50 {
  width: 50%;
}

td, th {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

td, .indent {
  padding-left: 1.5em !important;
}

.row-space-bottom > td {
  padding-bottom: 2.5em !important;
}

#footer {
  background-color: black;
  padding: 2em;
  width: 100%;
  height: 100%;
  text-align: center;
}
#footer h2 {
  margin: 0;
}
#footer .row {
  margin-bottom: 0;
}

#special-details {
  margin: 0 0 1em 0;
}

.mobile-alt {
  display: none;
}

@media (max-width: 990px) {
  #main-content, .container {
    width: 100%;
    padding: 0.5rem;
  }
  #favicon {
    width: 50px;
    height: 50px;
  }
  #hero-section {
    padding-top: 6rem;
  }
  #hero-section h2 {
    font-size: 170%;
    text-align: left;
  }
  h1 {
    font-size: 350%;
  }
  h2 {
    font-size: 300%;
    text-align: center;
  }
  #footer .col-2 {
    width: 50%;
  }
  .modal-content {
    margin: 0 auto;
  }
  .mobile-alt {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  .mobile-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .mobile-view .col {
    max-width: 90%;
    margin: 0 auto;
    --bs-gutter-y: 1rem;
    padding-top: calc(var(--bs-gutter-y) * 0.5);
    padding-bottom: calc(var(--bs-gutter-y) * 0.5);
  }
  .mobile-view #special-details {
    margin: 0 auto;
  }
  .mobile-view embed {
    scale: 0.1;
  }
  .mobile-view .modal-content {
    width: 90% !important;
    height: 100% !important;
    margin: 0 auto;
  }
  .mobile-view .modal-content embed {
    width: 100%;
  }
  .mobile-view iframe {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
  }
  .mobile-view#articulate #modal_1 .modal-body, .mobile-view#articulate #modal_2 .modal-body {
    height: 600px;
    padding: 0 !important;
  }
}