body {
  background-image: linear-gradient(#010b19, #010b19, #010b19, #05377b);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}

h1 {
  font-size: 500%;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 400%;
  margin-bottom: 0.25em;
}

a:link {
  color: white;
}
a:hover {
  color: #05377b;
}
a:active {
  color: #03214a;
}

#main-content {
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
#main-content img {
  width: 100%;
  float: right;
  border: 1px solid white;
}

#hero-section {
  margin-bottom: 7em;
}
#hero-section p, #hero-section a {
  font-size: 150%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1em;
}
.grid-container.debug {
  background-color: rgba(144, 238, 144, 0.7);
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid white;
  border-radius: 1em;
  padding: 1em;
  height: 100%;
}
.card .card-body {
  display: none;
}
.card .card-title {
  font-weight: bold;
}
.card a {
  margin-top: auto;
}

.modal-content {
  background-color: #042c62 !important;
  width: auto !important;
}

.modal-dialog {
  max-width: 1000px !important;
}

button {
  margin-top: auto;
}

.space-bottom {
  margin-bottom: 2em;
}