#stars-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  margin-left: 20em;
  -webkit-transform: rotate(354deg);
          transform: rotate(354deg);
  z-index: -1;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 1080px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.49em;
  --top-offset: 73.96vh;
  --fall-duration: 6.269s;
  --fall-delay: 8.274s;
}
.star:nth-child(2) {
  --star-tail-length: 6.5em;
  --top-offset: 61.89vh;
  --fall-duration: 7.533s;
  --fall-delay: 8.111s;
}
.star:nth-child(3) {
  --star-tail-length: 7.14em;
  --top-offset: 82.77vh;
  --fall-duration: 10.417s;
  --fall-delay: 7.454s;
}
.star:nth-child(4) {
  --star-tail-length: 6.98em;
  --top-offset: 71.35vh;
  --fall-duration: 10.514s;
  --fall-delay: 9.147s;
}
.star:nth-child(5) {
  --star-tail-length: 7.45em;
  --top-offset: 99.38vh;
  --fall-duration: 10.986s;
  --fall-delay: 3.778s;
}
.star:nth-child(6) {
  --star-tail-length: 6.23em;
  --top-offset: 20.68vh;
  --fall-duration: 6.756s;
  --fall-delay: 3.404s;
}
.star:nth-child(7) {
  --star-tail-length: 6.03em;
  --top-offset: 2.91vh;
  --fall-duration: 9.271s;
  --fall-delay: 2.193s;
}
.star:nth-child(8) {
  --star-tail-length: 5.89em;
  --top-offset: 80.14vh;
  --fall-duration: 11.705s;
  --fall-delay: 7.955s;
}
.star:nth-child(9) {
  --star-tail-length: 6.71em;
  --top-offset: 61.79vh;
  --fall-duration: 11.072s;
  --fall-delay: 8.702s;
}
.star:nth-child(10) {
  --star-tail-length: 6.97em;
  --top-offset: 54.23vh;
  --fall-duration: 11.962s;
  --fall-delay: 2.44s;
}
.star:nth-child(11) {
  --star-tail-length: 7.12em;
  --top-offset: 47.4vh;
  --fall-duration: 8.01s;
  --fall-delay: 1.599s;
}
.star:nth-child(12) {
  --star-tail-length: 6.09em;
  --top-offset: 45.73vh;
  --fall-duration: 11.343s;
  --fall-delay: 9.13s;
}
.star:nth-child(13) {
  --star-tail-length: 5.12em;
  --top-offset: 48.92vh;
  --fall-duration: 11.961s;
  --fall-delay: 6.446s;
}
.star:nth-child(14) {
  --star-tail-length: 6.31em;
  --top-offset: 33.68vh;
  --fall-duration: 9.274s;
  --fall-delay: 5.074s;
}
.star:nth-child(15) {
  --star-tail-length: 6.2em;
  --top-offset: 91.79vh;
  --fall-duration: 7.284s;
  --fall-delay: 2.132s;
}
.star:nth-child(16) {
  --star-tail-length: 6.86em;
  --top-offset: 91.63vh;
  --fall-duration: 11.225s;
  --fall-delay: 8.158s;
}
.star:nth-child(17) {
  --star-tail-length: 7.07em;
  --top-offset: 2.21vh;
  --fall-duration: 10.821s;
  --fall-delay: 3.63s;
}
.star:nth-child(18) {
  --star-tail-length: 6.03em;
  --top-offset: 95.94vh;
  --fall-duration: 11.116s;
  --fall-delay: 2.65s;
}
.star:nth-child(19) {
  --star-tail-length: 5.02em;
  --top-offset: 81.48vh;
  --fall-duration: 8.428s;
  --fall-delay: 8.154s;
}
.star:nth-child(20) {
  --star-tail-length: 7.23em;
  --top-offset: 38.38vh;
  --fall-duration: 10.105s;
  --fall-delay: 6.115s;
}
.star:nth-child(21) {
  --star-tail-length: 6.95em;
  --top-offset: 89.8vh;
  --fall-duration: 9.601s;
  --fall-delay: 8.267s;
}
.star:nth-child(22) {
  --star-tail-length: 7.06em;
  --top-offset: 22.63vh;
  --fall-duration: 12s;
  --fall-delay: 2.241s;
}
.star:nth-child(23) {
  --star-tail-length: 7.22em;
  --top-offset: 39.07vh;
  --fall-duration: 11.821s;
  --fall-delay: 0.472s;
}
.star:nth-child(24) {
  --star-tail-length: 5.76em;
  --top-offset: 63.38vh;
  --fall-duration: 9.919s;
  --fall-delay: 7.348s;
}
.star:nth-child(25) {
  --star-tail-length: 7.37em;
  --top-offset: 8.31vh;
  --fall-duration: 7.567s;
  --fall-delay: 2.112s;
}
.star:nth-child(26) {
  --star-tail-length: 7.12em;
  --top-offset: 67.23vh;
  --fall-duration: 10.648s;
  --fall-delay: 4.013s;
}
.star:nth-child(27) {
  --star-tail-length: 6.38em;
  --top-offset: 29.71vh;
  --fall-duration: 11.093s;
  --fall-delay: 7.206s;
}
.star:nth-child(28) {
  --star-tail-length: 7.33em;
  --top-offset: 18.78vh;
  --fall-duration: 8.798s;
  --fall-delay: 8.281s;
}
.star:nth-child(29) {
  --star-tail-length: 6.66em;
  --top-offset: 45.61vh;
  --fall-duration: 8.279s;
  --fall-delay: 1.216s;
}
.star:nth-child(30) {
  --star-tail-length: 6.14em;
  --top-offset: 0.19vh;
  --fall-duration: 8.877s;
  --fall-delay: 2.91s;
}
.star:nth-child(31) {
  --star-tail-length: 5.68em;
  --top-offset: 42.57vh;
  --fall-duration: 7.09s;
  --fall-delay: 8.192s;
}
.star:nth-child(32) {
  --star-tail-length: 6.38em;
  --top-offset: 7.53vh;
  --fall-duration: 8.301s;
  --fall-delay: 2.609s;
}
.star:nth-child(33) {
  --star-tail-length: 6.97em;
  --top-offset: 43.67vh;
  --fall-duration: 11.205s;
  --fall-delay: 5.986s;
}
.star:nth-child(34) {
  --star-tail-length: 6.81em;
  --top-offset: 85.83vh;
  --fall-duration: 6.989s;
  --fall-delay: 3.813s;
}
.star:nth-child(35) {
  --star-tail-length: 5.34em;
  --top-offset: 42.83vh;
  --fall-duration: 7.44s;
  --fall-delay: 4.58s;
}
.star:nth-child(36) {
  --star-tail-length: 6.98em;
  --top-offset: 97.08vh;
  --fall-duration: 6.091s;
  --fall-delay: 0.641s;
}
.star:nth-child(37) {
  --star-tail-length: 6.76em;
  --top-offset: 21.17vh;
  --fall-duration: 10.445s;
  --fall-delay: 4.343s;
}
.star:nth-child(38) {
  --star-tail-length: 5.86em;
  --top-offset: 51.82vh;
  --fall-duration: 9.251s;
  --fall-delay: 9.652s;
}
.star:nth-child(39) {
  --star-tail-length: 5.63em;
  --top-offset: 6.05vh;
  --fall-duration: 10.544s;
  --fall-delay: 1.966s;
}
.star:nth-child(40) {
  --star-tail-length: 5.94em;
  --top-offset: 90.44vh;
  --fall-duration: 10.632s;
  --fall-delay: 1.223s;
}
.star:nth-child(41) {
  --star-tail-length: 6.33em;
  --top-offset: 32.18vh;
  --fall-duration: 6.82s;
  --fall-delay: 3.35s;
}
.star:nth-child(42) {
  --star-tail-length: 5.79em;
  --top-offset: 8.81vh;
  --fall-duration: 11.486s;
  --fall-delay: 8.556s;
}
.star:nth-child(43) {
  --star-tail-length: 5.71em;
  --top-offset: 89.94vh;
  --fall-duration: 11.546s;
  --fall-delay: 8.7s;
}
.star:nth-child(44) {
  --star-tail-length: 5.17em;
  --top-offset: 82.07vh;
  --fall-duration: 6.75s;
  --fall-delay: 8.213s;
}
.star:nth-child(45) {
  --star-tail-length: 6.77em;
  --top-offset: 7.35vh;
  --fall-duration: 8.356s;
  --fall-delay: 8.382s;
}
.star:nth-child(46) {
  --star-tail-length: 7.41em;
  --top-offset: 24.42vh;
  --fall-duration: 6.93s;
  --fall-delay: 4.271s;
}
.star:nth-child(47) {
  --star-tail-length: 5.65em;
  --top-offset: 73.31vh;
  --fall-duration: 9.958s;
  --fall-delay: 5.571s;
}
.star:nth-child(48) {
  --star-tail-length: 5.37em;
  --top-offset: 3.1vh;
  --fall-duration: 9.975s;
  --fall-delay: 0.816s;
}
.star:nth-child(49) {
  --star-tail-length: 6.04em;
  --top-offset: 96.99vh;
  --fall-duration: 9.881s;
  --fall-delay: 1.109s;
}
.star:nth-child(50) {
  --star-tail-length: 7.18em;
  --top-offset: 12.68vh;
  --fall-duration: 6.283s;
  --fall-delay: 7.588s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}